AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET=__GENERATE_AUTHELIA_JWT_SECRET__
AUTHELIA_SESSION_SECRET=__GENERATE_AUTHELIA_SESSION_SECRET__
AUTHELIA_STORAGE_ENCRYPTION_KEY=__GENERATE_AUTHELIA_STORAGE_ENCRYPTION_KEY__
AUTHELIA_STORAGE_POSTGRES_ADDRESS=tcp://authelia-postgres:5432
AUTHELIA_STORAGE_POSTGRES_DATABASE=authelia_db
AUTHELIA_STORAGE_POSTGRES_USERNAME=authelia
AUTHELIA_STORAGE_POSTGRES_PASSWORD=__GENERATE_AUTHELIA_DB_PASSWORD__
#AUTHELIA_NOTIFIER_SMTP_PASSWORD=your-smtp-password-here
