www.bensuperpc.org {
	root * /var/www/html
	php_fastcgi wordpress:9000

	file_server
	encode zstd gzip

	metrics /metrics

	@disallowed {
		path /xmlrpc.php
		path *.sql
		path /wp-content/uploads/*.php
	}

	rewrite @disallowed '/index.php'

	respond /uploads/*.php 404

	header {
		# disable FLoC tracking
		Permissions-Policy interest-cohort=()

		# enable HSTS
		Strict-Transport-Security max-age=31536000;

		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff

		# clickjacking protection
		X-Frame-Options DENY
	}
	
	log {
		output file /data/logs/access.log
		format console
	}
}

bensuperpc.org {
	redir https://www.bensuperpc.org{uri} permanent
}

adminer.bensuperpc.org {
	reverse_proxy adminer:8080
}

uptimekuma.bensuperpc.org {
	reverse_proxy uptime-kuma:3001
}

portainer.bensuperpc.org {
	reverse_proxy portainer:9000
}

rickroll.bensuperpc.org {
	redir https://www.youtube.com/watch?v=dQw4w9WgXcQ permanent
}

babyshark.bensuperpc.org {
	redir https://www.youtube.com/watch?v=XqZsoesa55w permanent
}
