www.bensuperpc.org {
	root * /var/www/html
	php_fastcgi wordpress:9000

	file_server
	encode zstd gzip

	#metrics /metrics

	@disallowed {
		path /xmlrpc.php
		path *.sql
		path /wp-content/uploads/*.php
	}

	rewrite @disallowed '/index.php'

	respond /uploads/*.php 404

	header {
		# disable FLoC tracking
		Permissions-Policy interest-cohort=()

		# enable HSTS
		Strict-Transport-Security max-age=31536000;

		# disable clients from sniffing the media type
		X-Content-Type-Options nosniff

		# clickjacking protection
		X-Frame-Options DENY
	}
}

bensuperpc.org {
	redir https://www.bensuperpc.org{uri} permanent
}

adminer.bensuperpc.org {
	reverse_proxy adminer:8080
}

uptimekuma.bensuperpc.org {
	reverse_proxy uptime-kuma:3001
}

torrent.bensuperpc.org {
	reverse_proxy qbittorrent:8080
}

git.bensuperpc.org {
	reverse_proxy gitea:3000
}

jellyfin.bensuperpc.org {
	reverse_proxy jellyfin:8096
}

link.bensuperpc.org {
	redir /rickroll https://www.youtube.com/watch?v=dQw4w9WgXcQ permanent
	redir /babyshark https://www.youtube.com/watch?v=XqZsoesa55w permanent
	redir /cowcowcow https://www.youtube.com/watch?v=FavUpD_IjVY permanent
	redir /badapple https://www.youtube.com/watch?v=FtutLA63Cp8 permanent
	redir /macdo https://www.youtube.com/watch?v=Q16KpquGsIc permanent
	redir /superiser https://www.youtube.com/watch?v=srnyVw-OR0g permanent
	redir /daicon https://youtu.be/-840keiiFDE?si=zIPIokytxcnGw5fJ&t=162 permanent
	redir /scp https://www.youtube.com/watch?v=FGCDndN20G8 permanent
	redir /scpfb https://youtu.be/9zrKk-1E8zM?si=8R_ZBVG3GzMUYOe8&t=36 permanent
	redir /mother https://youtu.be/w3NyycHR3fE?si=rNNSW9zYv0bcO2Eu permanent
	redir /cpu https://www.youtube.com/watch?v=y39D4529FM4 permanent
	redir /chanteur https://youtu.be/HXdP15Ubu6M?si=N0qvhqo--3pmSGmb permanent
}
