{
	email bensuperpc@gmail.com
	key_type ed25519

	import bensuperpc.org/Caddyfile
	import bensuperpc.com/Caddyfile
	import bensuperpc.net/Caddyfile
	import bensuperpc.ovh/Caddyfile
	import bensuperpc.fr/Caddyfile
}
