{
	email bensuperpc@gmail.com
	key_type p384

	log {
		output file /data/logs/access.log
		format console
	}
}

import bensuperpc.org/Caddyfile
import bensuperpc.com/Caddyfile
import bensuperpc.net/Caddyfile
import bensuperpc.ovh/Caddyfile
import bensuperpc.fr/Caddyfile
