{
	email bensuperpc@gmail.com
	key_type p384

	log file-log {
		output file /data/logs/access.log
		format json
	}

	log {
		output stdout
		format json
		level ERROR
	}
}

import bensuperpc.org/*
import bensuperpc.com/*
import bensuperpc.net/*
import bensuperpc.ovh/*
import bensuperpc.fr/*
