DATABASE_URL=postgresql://litellm_user:__GENERATE_LITELLM_DB_PASSWORD__@litellm-postgres:5432/litellm_db

LITELLM_MASTER_KEY=__GENERATE_LITELLM_MASTER_KEY__

LITELLM_MODE=proxy
UI_USERNAME=admin
UI_PASSWORD=__GENERATE_LITELLM_UI_PASSWORD__
PROXY_BASE_URL=https://litellm.bensuperpc.org

#OPENAI_API_KEY=
#ANTHROPIC_API_KEY=
