SUDO_PASSWORD=__GENERATE_SUDO_VSCODE_SERVER_PASSWORD__
PASSWORD=__GENERATE_VSCODE_SERVER_PASSWORD__
PROXY_DOMAIN=vscode.bensuperpc.org
DOCKER_MODS=linuxserver/mods:code-server-python3|linuxserver/mods:universal-docker
DOCKER_HOST=tcp://docker-dind:2375
