ALPINE_DATABASE_MODE="external"
ALPINE_DATABASE_URL="jdbc:postgresql://dependency-track-postgres:5432/dtrack"
ALPINE_DATABASE_DRIVER="org.postgresql.Driver"
ALPINE_DATABASE_USERNAME="dtrack"
ALPINE_DATABASE_PASSWORD="__GENERATE_DTRACK_DB_PASSWORD__"

API_BASE_URL="https://dependency-track.bensuperpc.org"
